<% include partials/header %>
<div class="home">
    <div class="titlemain">
            <h1>¿Qué estas buscando?</h1>
            <a href="/all" class="waves-effect waves-light btn-large"><i class="material-icons left">place</i>Ver todos</a>
    </div>
    
</div>


<% include partials/footer %>