<% include partials/header %>
      <div class="container" style="margin-top:20px;">
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <form class="col s12" action="/agregar" method="POST">
                          <div class="row">
                            <div class="input-field col s12">
                                <input id="nombre" type="text" name='Name' class="validate" required>
                                <label for="nombre">Nombre Establecimiento</label>
                            </div>
                            <div class="input-field col s12">
                              <input id="direccion" type="text" name="Address" class="validate" required>
                              <label for="direccion">Dirección</label>
                            </div>
                            <div class="input-field col s12">
                              <input id="email" type="email" name="Email" class="validate" required>
                              <label for="email">Email</label>
                            </div>
                            <div class="input-field col s12">
                              <input id="telefono" type="number" name="Phone" class="validate" required>
                              <label for="telefono">Teléfono</label>
                            </div>
                            <div class="input-field col s12">
                              <select name="Category">
                                <option value="" disabled selected>Seleccione una Categoría</option>
                                <option value="Comida">Comida</option>
                                <option value="Bebidas">Bebidas</option>
                                <option value="Medicina">Medicina</option>
                                <option value="Servicio">Servicio</option>
                              </select>
                            </div>
                          </div>
                          <button class="btn waves-effect waves-light green" type="submit">Enviar
                            <i class="material-icons right">arrow_forward</i>
                          </button>
                        </form>

                      </div>
                </div>
            </div>
      </div>
      <% include partials/footer %>