<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vive 24</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" href="/style.css">


</head>
<body>

    <nav>
      <div class="nav-wrapper container">
        <a href="/" class="brand-logo"><i class="material-icons">timelapse</i>VIVE_24</a>
        <a href="/" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/comida"><i class="material-icons">local_pizza</i> Comida</a></li>
          <li><a href="/medicina"><i class="material-icons">local_pharmacy</i> Medicina</a></li>
          <li><a href="/licores"><i class="material-icons">local_bar</i> Licores</a></li>
          <li><a href="/servicio"><i class="material-icons">ev_station</i> Estación de servicio</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="/comida"><i class="material-icons">local_pizza</i> Comida</a></li>
          <li><a href="/medicina"><i class="material-icons">local_pharmacy</i> Medicina</a></li>
          <li><a href="/licores"><i class="material-icons">local_bar</i> Licores</a></li>
          <li><a href="/servicio"><i class="material-icons">ev_station</i> Estación de servicio</a></li>
        </ul>
      </div>
    </nav> 

    <!-- Dropdown Structure -->